<%- include("header") -%>
  <header><h1>Your Chosen City Weather Report</h1></header>

  <div>
    <h4>The Weather description is <%=weatherDescription%>.</h4>
    <h2>The Temperature in <%=locationWeather%> is <%=temp%> Degrees Celsius.</h2>
    <img src=<%=imagePath%>>
  </div>

  <a class="btn btn-primary stretched-link" href="/">Home Page</a>

  <%- include("footer") -%>
